.catalog {
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  &__item {
    overflow: hidden;
    border-radius: 20px;
    transition: 0.3s;

    @media (hover: hover) {
      &:hover {
        box-shadow: var(--shadow);
        .catalog__item-title {
          color: var(--color-primary);
        }
        .catalog__item-price {
          color: var(--color-secondary);
        }
      }
    }
  }

  &__item-img {
  }

  &__item-content {
    padding: 20px;
    background-color: var(--color-white);
    height: 100%;
  }

  &__item-title {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__item-price {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 12px;
    transition: 0.3s;
  }

  &__item-descr {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}

@media (max-width: 767px) {
  .catalog {
    &__items {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
    &__item-content {
      padding: 10px;
    }
    &__item-descr {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .catalog {
    &__items {
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
      gap: 16px 10px;
    }
    &__item-title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 15px;
    }
    &__item-price {
      font-size: 17px;
    }
  }
}
