.categories {
  &__btn {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__item {
    padding: 40px;
    border-radius: 40px;
    position: relative;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;

    &:nth-child(odd) {
      background-color: rgba(var(--color-secondary-light--rgb), 0.6);
      @media (hover: hover) {
        &:hover {
          background-color: var(--color-secondary);
          box-shadow: var(--shadow);
        }
      }
    }
    &:nth-child(even) {
      background-color: rgba(var(--color-primary-light--rgb), 0.6);
      @media (hover: hover) {
        &:hover {
          background-color: var(--color-primary);
          box-shadow: var(--shadow);
        }
      }
    }
  }

  &__item-title {
    max-width: 220px;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: var(--color-white);
  }

  &__item-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__tab-title {
    padding: 0 24px;
    font-size: 22px;
  }
}

.tabs {
  &__nav {
    display: flex;
    overflow-x: auto;
  }

  &__btn {
    padding: 12px 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    font-size: inherit;
    border-bottom: 4px solid transparent;
    transition: 0.3s;
    &--active {
      border-bottom-color: var(--color-secondary);
      color: var(--color-secondary);
    }
    @media (hover: hover) {
      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  &__item {
    display: none;
    transition: 0.3s;
    &--active {
      display: block;
      animation-name: toggle-opacity;
      animation-duration: 0.7s;
    }
  }
}

@media (max-width: 960px) {
  .categories {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item-title {
      font-size: 24px;
    }
  }
}

@media (max-width: 600px) {
  .categories {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      height: 220px;
      padding: 30px;
      &:nth-child(odd) {
        background-color: var(--color-secondary-light);
      }

      &:nth-child(even) {
        background-color: var(--color-primary-light);
      }
    }

    &__item-title {
      font-size: 22px;
    }

    &__item-img {
      height: 140px;
    }
    &__tab-title {
      padding: 0 20px;
      font-size: 18px;
    }
  }
}
