.catalog {
  &__inner {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
  }

  &__categories-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid var(--color-grey-200);
  }
  &__categories-item {
    border-bottom: 1px solid var(--color-grey-200);
    &:last-child {
      border-bottom: none;
    }
  }
  &__categories-link {
    display: block;
    padding: 10px 20px 10px 16px;
    line-height: 20px;
    border-left: 4px solid transparent;
    transition: 0.3s;

    &--current {
      border-color: var(--color-secondary);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
      &--current:hover {
        background-color: var(--color-grey-200);
        color: inherit;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  &__item {
    overflow: hidden;
    transition: 0.3s;

    @media (hover: hover) {
      &:hover {
        box-shadow: var(--shadow);
        .catalog__item-title {
          color: var(--color-primary);
        }
        .catalog__item-price {
          color: var(--color-secondary);
        }
      }
    }
  }

  &__item-img {
  }

  &__item-content {
    padding: 20px;
    background-color: var(--color-white);
    height: 100%;
  }

  &__item-title {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__item-price {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 12px;
    transition: 0.3s;
  }

  &__item-descr {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

@media (max-width: 999px) {
  .catalog {
    &__inner {
      grid-template-columns: 1fr;
    }
    &__categories {
    }
    &__categories-list {
      // height: 40px;
      // overflow: hidden;
      // max-width: 300px;
      // border-color: var(--color-grey-300);
    }
    &__categories-item {
      // border-bottom: none;
    }
    &__categories-link {
      // border: none;
      // padding: 10px;
    }
  }
}

@media (max-width: 767px) {
  .catalog {
    &__items {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
    &__item-content {
      padding: 10px;
    }
    &__item-descr {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .catalog {
    &__items {
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
      gap: 16px 10px;
    }
    &__item-title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 15px;
    }
    &__item-price {
      font-size: 17px;
    }
  }
}
