.product {
  &__main {
    display: flex;
    flex-wrap: wrap;
  }

  &__gallery {
    flex: 1;
    min-width: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  &__info {
    flex: 1;
    min-width: 280px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  &__descr {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 20px;
  }

  &__pricing {
    margin: 0 0 20px;
  }

  &__price {
    font-size: 28px;
    font-weight: 700;
  }

  &__action {
    margin: 0 0 40px;
  }

  &__tabs {
    display: flex;
    border-bottom: 1px solid var(--color-grey-200);
  }

  &__tab {
    padding: 10px 20px;
    font-size: 16px;
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;

    &--active {
      border-bottom-color: var(--color-primary);
    }
  }

  &__tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #e1e1e1;
    margin-top: -1px;

    &--active {
      display: block;
    }
  }
}

@media (max-width: 600px) {
  .product {
    &__gallery {
      min-width: 280px;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 24px;
    }
  }
}
