.pros {
  margin-top: 50px;
  margin-bottom: 100px;
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: 20px;
  }

  &__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
  }

  &__descr {
    display: none;
  }
}

@media (max-width: 999px) {
  .pros {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 767px) {
  .pros {
    margin-bottom: 60px;
    &__icon {
      width: 60px;
      height: 60px;
    }

    &__num {
      font-size: 32px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 599px) {
  .pros {
    &__item {
      padding: 20px 10px;
    }
    &__name {
      font-size: 15px;
    }
  }
}

@media (max-width: 399px) {
  .pros {
    &__icon {
      margin-bottom: 10px;
    }
    &__name {
      margin-bottom: 0;
    }
    .pros {
      &__items {
        grid-template-columns: 1fr;
      }
    }
  }
}
