.top-inner-page {
  background-color: var(--color-primary-light);
  &__title {
    height: 120px;
    display: flex;
    align-items: center;
    color: var(--color-white);
    margin: 0;
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .top-inner-page {
    &__title {
      font-size: 24px;
      height: 80px;
    }
  }
}
