:root {
  --color-white: #fff;
  --color-white2: #f5f5f5;
  --color-white30: #f5f5f54d;
  --color-white70: #f5f5f5b2;
  --color-gray: #c4c4c4;
  --color-gray2: #9c9c9c;
  --color-gray3: #6a6a6a;
  --color-red: #bf2821;

  --color-dark: #0a3441;
  --color-light: #d2e9f2;
  --color-lighter: #e9f4f9;

  --color-primary: #1d8fbd;
  --color-primary-light: #3baddb;
  --color-primary-dark: #00719f;

  --gutter-outer: 100px;
  --gutter-inner: 60px;
}

// container
$container-width: 1440px;
$container-padding: 20px;

// colors
$color-white: var(--color-white);
$color-white2: var(--color-white2);

$color-text: var(--color-dark);

$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);

// fonts
$font-family-primary: 'Inter', sans-serif;
$font-size-regular: 16px;

//
