@import '../../node_modules/@splidejs/splide/dist/css/splide.min';
@import 'fonts';
@import 'global';

@import 'header';
@import 'top';
@import 'pros';
@import 'categories';
@import 'feedback';
@import 'about';

@import 'footer';

@import 'top-inner-page';

@import 'breadcrumbs';

@import 'catalog';
@import 'recommended';

@import 'cards';
@import 'posts';
@import 'article';
@import 'accordion';
// @import 'modal';
