@import '../../node_modules/@splidejs/splide/dist/css/splide.min';
@import 'fonts';
@import 'global';

@import 'header';
@import 'top';
// @import 'pros';
// @import 'film';
// @import 'banner';
// @import 'equip';
// @import 'staff';
// @import 'video';
@import 'footer';

@import 'breadcrumbs';
@import 'product';
@import 'recommended';

@import 'cards';
@import 'posts';
@import 'article';
@import 'accordion';
// @import 'modal';
